<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutPadrao}">

<head>
	<meta charset="UTF-8">
	<title>Cadastro de Genero</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<h1 class="form-group text-center">Cadastro de Genero</h1>
		<div>
			<form action="/generos" method="POST" th:object="${genero}">

				<div th:replace="mensagemGeral"></div>
				<div th:replace="mensagemErro"></div>
	
				<input type="hidden" th:field="*{id}" />
	
				<div class="form-group">
					<label for="nome">Titulo:</label> <input id="nome" type="text"
						th:field="*{nome}" class="form-control" />
				</div>
	
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>