<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutPadrao}">
<head>
<meta charset="UTF-8">
<title>Cadastro de genero</title>
</head>
<body>

	<h4><a th:href="@{generos/novo}"> Cadastro </a></h4>
	
	
	<section layout:fragment="conteudo">
		<h1 class="text-center">Lista de Generos</h1>
		<div>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Genero</th>
						<th scope="col">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="genero : ${generos}">
						<td th:text="${genero.id}"></td>
						<td th:text="${genero.nome}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{generos/editar/{id}(id=${genero.id})}">Editar</a>
							<a class="btn btn-danger" th:href="@{generos/excluir/{id}(id=${genero.id})}"
							onclick="return confirm('Deseja realmente excluir este item ?')">Excluir</a>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>