<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutPadrao}">
<head>
<title>Cadastro de gênero</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<h1 class="text-center">Lista de Gêneros</h1>
		<div>
			<table class="table w-50" align="center">
				<thead class="thead-dark">
					<tr align="center">
						<th scope="col">Id</th>
						<th scope="col">Genero</th>
						<th scope="col">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="genero : ${generos}" align="center">
						<td th:text="${genero.id}"></td>
						<td th:text="${genero.nome}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{generos/editar/{id}(id=${genero.id})}">Editar</a>
							<a class="btn btn-danger" th:href="@{generos/excluir/{id}(id=${genero.id})}"
							onclick="return confirm('Deseja realmente excluir este item ?')">Excluir</a>
						</td>
						<td></td>
					</tr>
					<tr th:if="${#lists.isEmpty(generos)}">
						<td  colspan="3" align="center">Nenhum genero cadastrado!</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>