<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body >
    <header th:replace="cabecalho" class="fixed-top">
        <!-- /header -->
    </header>
    <section layout:fragment="conteudo" class="container mt-4">
        <!-- corpo / conteudo -->
    </section>
    <footer class="bg-light text-center p-1 fixed-bottom">
        @2019 DevEderNo.
    </footer>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.11.1/dist/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>

</html>