<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de serie</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
</head>
<body class="jumbotron">

	<h4><a th:href="@{/series}"> Lista </a></h4>

	<h1 class="form-group">Cadastro de serie</h1>

	<div>
		<form action="/series" method="POST" th:object="${serie}">

			<!-- Message Error -->
			<div th:if="${#fields.hasAnyErrors()}">
				<div th:each="erros : ${#fields.detailedErrors()}" class="alert alert-danger">
					<span th:text="${erros.message}"></span>
				</div>
			</div>

			<!-- Message Success -->
			<div th:if="${!#strings.isEmpty(mensagem)}" class="alert alert-success">
				<span th:text="${mensagem}"></span>
			</div>
			
			<input type="hidden" th:field="*{id}"/>
			
			<div class="form-group">
				<label for="titulo">Titulo:</label> <input id="titulo" type="text"
					th:field="*{titulo}" class="form-control" />
			</div>
			<div class="form-group">
				<label for="comentario">Comentário:</label> <input id="comentario"
					type="text" th:field="*{comentario}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="dataCadastro">Data de Cadastro:</label> <input
					id="dataCadastro" type="date" th:field="*{dataCadastro}"
					class="form-control" width="100" />
			</div>

			<div class="form-group">
				<label for="valor">Valor:</label> <input id="valor" type="number"
					th:field="*{valor}" class="form-control" />
			</div>

			<div class="form-group">
				<label for="genero">Genero:</label> <select name="genero"
					id="genero" th:field="*{genero}" class="form-control">
					<option th:each="genero : ${todosGeneros}" th:text="${genero.nome}"
						th:value="${genero.id}"></option>
				</select>
			</div>

			<div class="form-group">
				<label for="status">Status:</label> <select name="status"
					id="status" th:field="*{status}" class="form-control">
					<option th:each="status : ${todosStatus}"
						th:text="${status.descricao}" th:value="${status}"></option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>
</body>
</html>