<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layoutPadrao}">

<head>
	<title>Cadastro de série</title>
</head>

<body>
	<section layout:fragment="conteudo">
		<h1 align="center">Lista de Séries</h1>

		<div>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Título</th>
						<th scope="col">Comantario</th>
						<th scope="col">Data de cadastro</th>
						<th scope="col">Valor</th>
						<th scope="col">Gênero</th>
						<th scope="col">Status</th>
						<th scope="col">Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="serie : ${series}">
							<td th:text="${serie.id}"></td>
							<td th:text="${serie.titulo}"></td>
							<td th:text="${serie.comentario}"></td>
							<td th:text="${#temporals.format(serie.dataCadastro,'dd/MM/yyyy')}"></td>
						<td th:text="${serie.valor}" class=""></td>
						<td th:text="${serie.genero.nome}"></td>
						<td th:text="${serie.status.descricao}"></td>
						<td><a class="btn btn-primary"
							th:href="@{series/editar/{id}(id=${serie.id})}">Editar</a> <a
							class="btn btn-danger"
							th:href="@{series/excluir/{id}(id=${serie.id})}" onclick="return confirm('Deseja realmente excluir este item')">Excluir</a></td>
					</tr>
					<tr th:if="${#lists.isEmpty(series)}">
						<td colspan="8" align="center">Nenhuma serie cadastrada!</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	
</body>
</html>